body{
  background-color:rgba(200,200,300,0.3);
  text-align:center;
  margin:0;
  padding:0;
}
p{
  font-family:"Palatino LT STD", "Palatino Linotype", "Book Antiqua", serif;
}
h1{
  font-family:"Palatino LT STD", "Palatino Linotype", "Book Antiqua", serif;
}
h3{
  font-family:"Palatino LT STD", "Palatino Linotype", "Book Antiqua", serif; 
}
h4{
  font-family:"Palatino LT STD", "Palatino Linotype", "Book Antiqua", serif;
}
div{
 background-color:white;
 padding:0;
  margin:0;
}
footer{
 text-align:center; 
}
.footer-txt{
 color:rgba(200,200,200,0.3);
}
