body{
  background-color:rgba(200,200,200,0.3);
}
head{
  background-color:rgba(200,200,200,0.3);
}
p{
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
